In [9]:
import os
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
import torch 
import seaborn as sns
import matplotlib.pyplot as plt
directory = '../../SICP/daily'

In [14]:
def read_csv(num_files = 10):
    df = pd.DataFrame()
    i = 0
    try:
        for filename in os.listdir(directory):
            if num_files != -1 and i==num_files:
                break
            i += 1
            new_df = pd.read_csv(os.path.join(directory,filename))
            df=df.append(new_df)
    except e:
        print(e)
    return df

In [15]:
df = read_csv()

In [16]:
df['destination_code_train'] = df['train'].str[0]
df['timetable_code_train'] = df['train'].str[1]
df['number_train'] = df['train'].str[2:]

In [17]:
df.head()

,act_arr_time,station,track,train,act_dep_time,act_occupied_time,act_travelling_time,stop,newinc,quantile_95_act_travelling_time,quantile_90_act_travelling_time,quantile_95_act_occupied_time,quantile_90_act_occupied_time,quantile_85_act_travelling_time,all_quantile,destination_code_train,timetable_code_train,number_train
0,2019-12-31 13:07:19.804,LAT,6102,QA18,2019-12-31 13:07:41.533,21.729,7.0,False,False,False,False,False,False,False,False,Q,A,18
1,2019-12-31 13:07:22.408,YMT,33,GA09,2019-12-31 13:07:46.115,23.707,4.0,False,False,False,False,False,False,False,False,G,A,09
2,2019-12-31 13:07:23.205,MOK,47,GA08,2019-12-31 13:08:44.685,81.480,63.0,True,False,False,False,False,False,False,False,G,A,08
3,2019-12-31 13:07:23.206,CHH,05,GA05,2019-12-31 13:07:39.541,16.335,4.0,False,False,False,False,False,False,False,False,G,A,05
4,2019-12-31 13:07:24.599,NTK,15,GA03,2019-12-31 13:07:44.123,19.524,8.0,False,False,False,False,False,False,False,False,G,A,03

In [25]:
test_df = df[(df["track"] == "6102") & (df["station"] == "LAT") & (df["quantile_85_act_travelling_time"] == True)]

In [26]:
test_df.head()

Empty DataFrame
Columns: [act_arr_time, station, track, train, act_dep_time, act_occupied_time, act_travelling_time, stop, newinc, quantile_95_act_travelling_time, quantile_90_act_travelling_time, quantile_95_act_occupied_time, quantile_90_act_occupied_time, quantile_85_act_travelling_time, all_quantile, destination_code_train, timetable_code_train, number_train]
Index: []